# Byte-compiled / optimized / DLL files
*/__pycache__/
*.py[cod]
*$py.class

# Cython build artifacts
*.c
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.spec

# MyPy / Pyright
.mypy_cache/
.pyright/

# VSCode settings
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

*.wav

# Ignore test result files
*.csv
*.png

# Calibration settings
calibration_settings.ini